
/* FASTOR V3.2.1 - CHANGE HOMEPAGE LOOK SLIGHTLY */
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
.roarlookbook .hotspot {
  background: #d9121f !important;
}
.custom-widget .img-wrapper {
  display: block;
  line-height: 0;
}
.advanced-grid.categories-wall > div > div.container:first-child {
  padding: 0 !important;
}
.categories-wall .category-wall .image img {
  width: 100%;
  margin-top: 20px;
}
body #main #top .pattern > .container > .row {
  display: flex;
  align-items: center !important;
  padding: 15px 0;
  flex-wrap: wrap;
  flex-flow: row;
}
#top {
  position: relative;
  background-color: #00a0da;
}
.slider-section-wrapper {
  position: relative;
  padding-top: 0px !important;
  overflow: hidden;
}
div#shopify-section-161592144342ead207 {
  background-color: #73b957;
  color: #fff;
  text-align: center;
  padding: 6px;
}
.product-tab-arrow-beside a.arrow-btn.next-button {
  left: auto;
  right: -20px;
}
.vertienda {
  text-align: center;
  margin-bottom: 30px;
}
div#product-tab-1615998146bde568d8 {
  background-color: #f5f5f5;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
}
.product-tab-arrow-beside a.arrow-btn.next-button {
  left: auto;
  right: -3vw !important;
}
.ptab-main-content
  .owl-carousel
  .owl-stage-outer
  .owl-stage
  .item
  .product-grid {
  height: 100%;
  background-color: #f5f5f5;
}
.product.product-content-wrapper.clearfix.product-hover.product-item-advanced-wrapper.quickshop-type-advanced-wrapper {
  background-color: #fff;
  //margin: 10px;
  border-radius: 15px;
  padding: 10px;
}
div#product-tab-161600166507c4ee0f {
  background-color: #f5f5f5;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
}
a.rich-banner-wrapper.col-rb-33.col-rbm-100 {
  padding: 1%;
}
a.rich-banner-wrapper.col-rb-34.col-rbm-100 {
  padding: 1%;
}
div#shopify-section-footer-bottom {
  display: none;
}
.agencia {
  text-align: center;
  color: #fff;
  padding: 10px;
  background-color: #4373b3;
}
.footer-about-us img {
  display: block;
  width: 80%;
}
.slick-track.owl-stage {
  // background-color: #f5f5f5;
}

#shopify-section-footer-center-column1 {
  width: 27%;
}
#shopify-section-footer-center-column2 {
  width: 15% !important;
}
#shopify-section-footer-center-column3 {
  width: 15% !important;
}
#shopify-section-footer-center-column4 {
  width: 15% !important;
}
#shopify-section-footer-center-column5 {
  width: 28% !important;
}
.footer-about-us img {
  display: block;
  width: 100%;
}
.title.footer-accordion-heading {
  color: #ffe900;
}
.footer .title {
  color: #ffe900;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
input[type="search"] {
  background-color: #ffffff;
  color: #808080;
  font-size: 12px;
  border: 1px solid #ffffff;
}
.header-type-11 #top .search_form {
  width: 100% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 100%;
  display: block;
}
.social_widget.right .icon {
  left: -50px;
  right: auto;
  top: 400px;
}
.brands-wrapper h3,
.brands-wrapper .item {
  text-align: center;
  background-color: #fff;
}
.filter-product .filter-tabs ul > li > a:before,
.home-instagram-widget-content .title:before {
  content: "";
  height: 0px;
  bottom: -1px;
}
.footer .title {
  color: #ffe900;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  font-family: "Poppins";
}
#product-tab-1615998146bde568d8.filter-product .filter-tabs ul > li > a {
  font-size: 40px !important;
  font-weight: 700 !important;
  color: #da0971;
}
#product-tab-161600166507c4ee0f.filter-product .filter-tabs ul > li > a {
  font-size: 40px !important;
  font-weight: 700 !important;
  color: #00a0da;
}
.breadcrumb.full-width {
  display: none !important;
}
div#shopify-section-custom_widget2 {
  background-color: #73b957;
  color: #fff;
  text-align: center;
  padding: 6px;
}
.rich-banners.no-paddings > div {
  padding: 30px !important;
  border: 1px solid #f3f3f3;
}
.subHeading {
  font-size: 18px !important;
  font-weight: 200;
  margin-bottom: 8px;
}
.subHeading2 {
  font-size: 21px !important;
  font-weight: 600;
}
.redes i.fa.fa-facebook-square {
  font-size: 26px !important;
}
.textoCabecera {
  color: #00a0da;
  font-size: 50px;
  font-family: "Arvo";
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 45px;
}
div#contentido {
  margin-top: 40px;
}
div#contentido p {
  text-align: justify;
  font-size: 15px;
}
.brandas {
  margin-top: 60px;
}
.theBtn {
  margin-top: 35px;
}
button.btn.btn-danger.vermas {
  font-size: 14px;
  border-radius: 40px;
}
.nada {
  padding: 5px;
  margin: 0px !important;
}
input.form-control {
  border-radius: 0px !important;
}
.col-sm-4.nada2 {
  width: 100%;
  padding: 5px;
  margin: 0px !important;
}
textarea.form-control {
  height: auto;
  border-radius: 0px;
  margin-top: -20px;
  resize: none;
  color: #00a0da !important;
  font-size: 14px;
}
.txtFormu {
  color: #00a0da;
  font-size: 30px;
  font-family: "Arvo";
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 50px;
}
input.btn.btn-primary.envio {
  background-color: #00a0da;
  font-size: 15px;
  border-radius: 6px;
}
input.btn.btn-primary.envio:hover {
  background-color: #333333;
}
img.logopie {
  width: 85%;
}
::placeholder {
  color: #00a0da !important;
  font-size: 14px;
}
input[type="text"] {
  color: #00a0da !important;
  font-size: 14px;
}
#top #cart_block .cart-heading p {
  color: #ffffff;
}
.tab-pane {
  padding: 20px;
}
.paraCentrar {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 60px;
  width: 60%;
}
.tabla > li {
  float: left;
  margin-bottom: -1px;
  width: 50%;
  border-top: 4px solid #f5f5f5;
}
.nav-tabs {
  border-bottom: 0px solid #ddd;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.nav-tabs > li > a {
  border-radius: 0px !important;
  margin-right: 0px !important;
  color: #00a0da !important;
}
input.btn.btn-primary.logueo {
  width: 100%;
}
.tab-content:before,
.tab-content:after {
  border-color: #fff !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom-color: transparent;
}
li.active {
  border-top: 4px solid #00a0da !important;
}
.templateProduct #main .mini-breadcrumb {
  margin-bottom: 0 !important;
}
.product-info .cart .add_to_cart .button-cart {
  height: 40px !important;
}
.body-white .standard-body .full-width .center-column .tab-content {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}
// #product-related{
//   background: ;
// }
.product-item-content .name a,
.filter_title {
  color: #1453a3 !important;
  font-weight: 800;
}
// .product-item{
//   background: #E5E5E5;
// }
.product-filter {
  background: white !important;
  border-radius: 10px;
  margin-bottom: 20px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.templateCollection.collection-template-promo.flex-view-4
  .product-grid
  .row
  > div {
  padding-bottom: 10px !important;
}
.product
  .image[class*="aspect-ratio-"].aspect-ratio-crop
  .main-images-wrapper
  img {
  object-fit: contain !important;
}
body.templateProduct
  .standard-body
  .full-width
  .center-column.content-without-background,
body.body-white
  .standard-body
  .full-width
  .center-column.content-without-background {
  padding-top: 30px !important;
}
.product-info .cart {
  max-width: 100%;
}
#product-tab-1617042813dfb4d40d,
#product-tab-1617042436557d36a8 {
  display: none;
}
#product-related #myCarouselRelated_next {
  top: 50%;
  margin-left: 52%;
}
#product-related #myCarouselRelated_prev {
  top: 50%;
  margin-left: -55%;
}

@media (max-width: 600px) {
  #product-tab-161600166507c4ee0f.filter-product .filter-tabs ul > li > a,
  #product-tab-1615998146bde568d8.filter-product .filter-tabs ul > li > a {
    font-size: 20px !important;
  }
  .list-options{
    display: flex;
  }
  .product-tab-arrow-beside a.arrow-btn.next-button {
    left: auto;
    right: -6vw !important;
  }
  .custom-widget {
    font-size: 12px !important;
  }
  #shopify-section-footer-center-column1,
  #shopify-section-footer-center-column2,
  #shopify-section-footer-center-column3,
  #shopify-section-footer-center-column4,
  #shopify-section-footer-center-column5 {
    width: 100% !important;
  }
  #product-tab-1617042813dfb4d40d,
  #product-tab-1617042436557d36a8 {
    display: block;
  }
  #product-tab-1615998146bde568d8,
  #product-tab-161600166507c4ee0f {
    display: none;
  }
  #tab-description {
    padding-left: 15px;
    padding-right: 15px;
  }
  #product-related #myCarouselRelated_next {
    top: 50%;
    margin-left: 45% !important;
  }
  .product
    .image[class*="aspect-ratio-"].aspect-ratio-crop
    .main-images-wrapper
    img {
    object-fit: contain !important;
  }
}

