{% section 'custom_widget2' %}
<div id="contentido">

    {{page.content}}
</div>
<div class="brandas">
    {% section 'banner3' %}
</div>
<div class="brandas">
    {% section 'brands' %}
</div>
<div class="brandas">
    {% section 'banner' %}
</div>
<div class="theBtn">
    <div class="vertienda"><a href="https://notoychile.myshopify.com/collections/all">
            <button type="button" class="btn btn-danger vermas">Ver más Categorías</button>
        </a></div>
</div>